{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": [
    "import",
    "jsx-a11y",
    "prettier",
    "react",
    "react-hooks",
    "react-refresh"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-redeclare": "off",
    "import/no-anonymous-default-export": "error",
    "@typescript-eslint/no-redeclare": ["error"],
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "no-debugger": "error",
    "@typescript-eslint/no-floating-promises": "error",
    "object-shorthand": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "TSEnumDeclaration",
        "message": "Don't declare enums"
      }
    ],
    "react-refresh/only-export-components": "warn",
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external"],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "external",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc"
        },
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "prefer": "type-imports" }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "typeAlias",
        "format": ["PascalCase"]
      }
    ]
  }
}
